<mat-toolbar class="newsletter">
    <aside>
        <p id="newsletter-text">Cadastre-se e seja um dos<br>primeiros a saber de todas as<br>novidades e ofertas.</p>
    </aside>

    <form>
        <div class="input-newsletter">
            <input id="newsletter-input" type="text" placeholder="Nome">
        </div>
        <div class="input-newsletter">
            <input id="newsletter-input" type="email" placeholder="E-mail">
        </div>
        
        <input id="registration" type="reset" value="Cadastrar" (click)="cadastrado()">
        
    </form>
</mat-toolbar>