<mat-toolbar class="newsletter">
    <section>
        <p id="newsletter-text">Cadastre-se e seja um dos primeiros a<br> saber de todas as novidades e ofertas.</p>
    </section>

    <form>
        <div class="input-newsletter">
            <input id="newsletter-input" type="text" placeholder="Nome">
        </div>
        <div class="input-newsletter">
            <input id="newsletter-input" type="email" placeholder="E-mail">
        </div>
        <div class="input-newsletter">
            <input id="registration" type="reset" value="Cadastrar" (click)="cadastrado()">
        </div>
    </form>
</mat-toolbar>