<mat-toolbar class="top-banner">
    <section class="top-banner-itens">
    <span class="material-symbols-outlined top">change_circle
    </span>PRIMEIRA TROCA GRÁTIS</section>
    <section class="top-banner-itens">
        <span class="material-symbols-outlined top">local_shipping</span>FRETE GRÁTIS NAS COMPRAS ACIMA DE R$500</section>
    <section class="top-banner-itens"><span class="material-symbols-outlined top">shopping_cart
    </span>PARCELE EM ATÉ 6X SEM JUROS</section>
</mat-toolbar>

<mat-toolbar class="menu-header mat-elevation-z4">
    <img src="../../assets/logo-n1.png" id="logo-n1">

    <span class="spacer"></span>

    <a href="#" id="categorie">Lançamentos</a>
    <a href="#" id="categorie">Tênis</a>
    <a href="#" id="categorie">T-shirts</a>
    <a href="#" id="categorie">Calças</a>
    <a href="#" id="categorie">Inverno</a>
    <a href="#" id="off-categorie">Off</a>

    <span class="spacer"></span>

    <section class="search">
        <input class="search-input" type="text" placeholder="O que está procurando?">
        <span class="material-symbols-outlined magnifying-glass">search</span>
    </section>

    <button mat-icon-button class="person_outline">
        <span class="material-symbols-outlined">person</span>
    </button>

    <button mat-icon-button class="shopping_cart">
        <span class="material-symbols-outlined">shopping_cart</span>
        <button id="ball">{{ productCart }}</button>
    </button>
</mat-toolbar>