<mat-toolbar class="top-banner">
    <header class="top-banner-itens"><span class="material-symbols-outlined">change_circle</span>PRIMEIRA TROCA GRÁTIS
    </header>
</mat-toolbar>

<mat-toolbar class="menu-header">
    <span class="material-symbols-outlined">menu</span>
    <img src="../../assets/logo-n1.png" id="logo-n1">

    <button mat-icon-button class="search">
        <span class="material-symbols-outlined">search</span>
    </button>

    <span mat-icon-button class="shopping_cart">
        <span class="material-symbols-outlined">shopping_cart</span>
        <button id="ball">{{numero}}</button>
    </span>
    
</mat-toolbar>